Repository pallets/werkzeug, pull requests merged in 2019-05, with the labels that each got.

#1522 routing: don't convert bytes arguments to str
  CHANGES.rst
  src/werkzeug/routing.py
  tests/test_routing.py
Labels: bug, routing

#1540 break cycle in chained exceptions
  CHANGES.rst
  src/werkzeug/debug/tbtools.py
  tests/test_debug.py
  tox.ini
Labels: debugger

#1545 Fix SyntaxError on python 2.7.5
  src/werkzeug/routing.py
Labels: bug, routing

#1546 Fix Profiler Docs Incorrect Import Path
  docs/contrib/profiler.rst
Labels: docs

#1564 Detect opera as browser in user_agent
  src/werkzeug/useragents.py
  tests/test_wrappers.py
Labels: user-agent
