Repository pallets/werkzeug, pull requests merged in 2020-10, with the labels that each got.

#1927 Fix docs for werkzeug.formparser.parse_form_data
  docs/http.rst
Labels: docs

#1915 prevent crash if stdin is None.
  CHANGES.rst
  src/werkzeug/_reloader.py
Labels: bug

#1873 Deprecate dev server shutdown function
  CHANGES.rst
  src/werkzeug/serving.py
Labels: server

#1861 Add option to exclude paths from reloader.
  CHANGES.rst
  src/werkzeug/_reloader.py
  src/werkzeug/serving.py
  tests/test_serving.py
Labels: reloader
