Repository pallets/werkzeug, pull requests merged in 2020-01, with the labels that each got.

#1286 Eliminate `//` in paths
  CHANGES.rst
  docs/conf.py
  docs/requirements.txt
  docs/routing.rst
  src/werkzeug/routing.py
  tests/test_routing.py
Labels: routing

#1694 merge slashes at the end of a URL
  CHANGES.rst
  src/werkzeug/routing.py
  tests/test_routing.py
Labels: routing

#1696 dev server accepts two slashes at start of path
  CHANGES.rst
  src/werkzeug/serving.py
Labels: server

#1707 remove old docs about decoding errors
  docs/unicode.rst
Labels: docs
